# .cargo/config.toml
[profile.difftests]
inherits = "dev"
rustflags = [
  "-C", "instrument-coverage", # flag required for instrumentation-based code coverage
  "--cfg", "cargo_difftests", # cfg required for cargo-difftests-testclient, 
                              # more on it in a second
]

[env]
RUST_TEST_THREADS = "1"

[unstable]
profile-rustflags = true
